.link {
    text-decoration: none;
    color: black;
    margin-right: 8px;
}


.lista {
    list-style: none;
    padding-right: 35px;
    
}

.imagem{
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.alinhar {
    align-items: center;
}

.sla {
    text-align: right;
}

.card{
    width: 180px;
    height: 50;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaa;
    margin-right: 20px;


}

.card img {
    width: 80%;
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
}

.card h3, div, h1{
    text-align: center;
}

.corpo {
    display: flex;
    justify-content: center;
    
}

.card button {
    border-radius: 15px;
    background-color: blue;
    margin-bottom: 7px;
    padding: 8px;
    box-shadow: 4px 4px 12px blue;
    
}

.card a{
    color: white;
    
}


h1{
    font-family: garamond;
}

.card div{
    margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {

    .imagem {
        display: none;
    }

    
    
    .flex img{
        width: 50%;
        margin: auto;
    }

    nav li{
        display: none;
    }

    nav h2 {
        margin: auto;
    }

    

    .card img {
        margin-top: 15px;
    }

    .rodapé {
        flex-direction: column;
        
    }

    .corpo{
        flex-direction: column;

    }
    
    .card{
        margin: auto;
        width: 300px;
        height: 330px;
    }

    

    
}







.rodapé {
    height: 100%;
    background-color: #C4D9EE;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.rodapé img {
    
    width: 25px;
    margin-right: 25px;
    
}

.rodapé div {
    margin: 40px;
}



body {
    margin: 0;
    padding: 0;
}
